* {
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  height: 95px;
  line-height: 95px;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
  font-size: 40px;
}

body {
  background-color: rgb(178, 150, 125);
}

nav {
  width: 100%;
  position: relative;
  z-index: 3;
}

nav ul {
  float: left;
  width: 100%;
  background-color: rgb(255,201,170);
  line-height: 40px;
  height: 40px;
  font-family: 'Open Sans', sans-serif;
  border-bottom: 1px rgb(85, 41, 23) solid;
}

nav ul li{
  list-style: none;
  float: left;
  position: relative;
  padding-left: 6%;
  padding-right: 6%;
}

nav ul li:hover {
  background-color: rgb(85, 41, 23);
}

nav ul li:hover a {
  color: rgb(255, 255, 255);
}

nav ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

h1 {
  font-family: 'Bilbo Swash Caps', cursive;
}

h2, .body {
  font-family: 'Open Sans', sans-serif;
  padding: 1%;
}

h2 {
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 5%;
  width: 86%;
  font-size: 25px;
}

.body {
  margin: 0% 7%;
  width: 86%;
  padding-top: 0;
}

.body p {
  padding-left: 2%;
  font-size: 20px;
}

.current_page {
  background-color: rgb(85, 41, 23);
}

.current_page a {
  color: rgb(255, 255, 255);
}
