.body h3 {
  margin-left: 3%;
  text-align: left;
}

.body li {
  margin-left: 6%;
}

.body ul {
  list-style-image: url('bullet-point.png');
}

#thanks {
  text-align: center;
  font-family: 'Bilbo Swash Caps', cursive;
  font-size: 50px;
}

.three_columns {
  margin-top: 2%;
}

#left, #right {
  width: 25%;
  margin-left: 6%;
}
