.justice img{
  height: 35%;
  width: 35%;
}

.target img{
  height: 20%;
}

.lightening img{
  height: 35%;
  width: 35%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.body ul {
  list-style-image: url('bullet-point.png');
}

.three_columns{
  width: 31%;
  margin: 0 1%;
}
